@font-face {
  font-family: 'Coneria';
  src: url('/src/assets/fonts/Coneria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brooklyn';
  src: url('/src/assets/fonts/Brooklyn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roasting';
  src: url('/src/assets/fonts/Roasting.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript';
  src: url('/src/assets/fonts/DancingScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  padding: 0;
}

.scroll-container {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: oklch(0.405 0.101 131.063);
  border-radius: 10px;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: oklch(0.605 0.201 131.063);
  border-color: oklch(0.605 0.201 131.063);
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f0fdfa;
  border-radius: 10px;
}

/* Firefox Support */
.scroll-container {
  scrollbar-color: oklch(0.605 0.201 131.063) #f0fdfa;
  scrollbar-width: thin;
}

@media (max-width: 1024px) {
  nav {
    padding: 0.5rem 1rem;
  }

  .navbar-links {
    gap: 1.5rem;
  }
}