html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #A7F3D0;
    /* Light green when not hovered */
    border-radius: 10px;
    border: 2px solid #A7F3D0;
    /* Light green border */
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #16C47F;
    /* Original Mint green on hover */
    border: 2px solid #16C47F;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #f0fdfa;
    border-radius: 10px;
}

/* Firefox Support */
.scroll-container {
    scrollbar-color: #A7F3D0 #f0fdfa;
    /* Light green by default */
    scrollbar-width: thin;
}

.scroll-container:hover {
    scrollbar-color: #16C47F #f0fdfa;
    /* Mint green on hover */
}