html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: oklch(0.405 0.101 131.063);
  /* Light lime (default) */
  border-radius: 10px;
  border: 2px solid transparent;
  /* Transparent border for a clean look */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: oklch(0.605 0.201 131.063);
  /* Strong lime on hover */
  border-color: oklch(0.605 0.201 131.063);
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f0fdfa;
  /* Soft mint background */
  border-radius: 10px;
}

/* Firefox Support */
.scroll-container {
  scrollbar-color: oklch(0.605 0.201 131.063) #f0fdfa;
  /* Strong lime on hover */
  scrollbar-width: thin;
}
